

<div id="app">
	<app-input (search)="search($event)" [style.z-index]="1"></app-input>

	<section class="view">
		<ng-container *ngComponentOutlet="viewComponent"></ng-container>
	</section>


	<section class="footer">
		<div>
			<p>Information courtesy of <a href="http://www.imdb.com" target="_blank">IMDb</a>.</p>
			<p>Used with permission.</p>
		</div>
		<div>
			<p>Images courtesy of
				<a href="https://commons.wikimedia.org/wiki/Main_Page" target="_blank">
					Wikimedia Commons
				</a>
				.
			</p>
			<p>Click an image for its source.</p>
		</div>
	</section>
</div>

