

header {
	align-items: center;
	background: linear-gradient(0deg, #3273db, #2353a0);
	box-shadow: 0 -6px 7px 6px black;
	color: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
	height: 3.125rem;
	justify-content: space-between;
	width: 100vw;
}


header > h1 {
	line-height: 1.2;
	margin: .4rem;
	text-shadow: 1px 1px 3px black;
}


form {
	background-color: #f9f9f9;
	border-radius: 1px;
	box-shadow: inset 0 0 1px #132c54;
	height: 1.75rem;
	margin: .4rem .4rem .4rem auto;
	width: 19rem;
}


form > input {
	background-color: transparent;
	color: #353535;
	font-size: 18px;
	outline: none;
	transition: all .5s;
}


form > input:disabled {
	background-color: #aab4c4;
}


form > input::placeholder {
	color: #b2b2b2;
	transition: all .5s;
}


form > input:disabled::placeholder {
	color: #818996;
}


form > input:first-child {
	border-radius: 3px 0 0 3px;
	border: none;
	box-sizing: border-box;
	height: 1.75rem;
	margin: 0;
	padding: 0 .33rem;
	width: 17.25rem;
}


form > input:last-child {
	background-image: url('/assets/search.svg');
	background-origin: content-box;
	background-size: 110%;
	border-radius: 0 3px 3px 0;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	float: right;
	height: 1.75rem;
	margin: 0;
	outline: none;
	padding: .2rem .1rem 0;
	width: 1.75rem;
}


form > input:last-child:hover {
	background-color: #aab4c4;
}

