

body {
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100vw;
}


@media (max-width: 440px) {
	header {
		height: 8.125rem;
	} .view {
		height: calc(100vh - 11.625rem);
	}
}


@media (min-width: 441px) and (max-width: 750px) {
	header {
		height: 5.75rem
	} .view {
		height: calc(100vh - 9.25rem);
	}
}

