

<section>
	<a
		href="https://commons.wikimedia.org/wiki/File:Kevin_Bacon_by_David_Shankbone.jpg"
		id="home-bacon-img"
		target="_blank"
	>
	</a>
<!-- 	<h2 ng-if="app.serverError">{{ [ app.serverError, app.searchName ] | error }}</h2> -->
	<!-- <p ng-if="app.serverError == 404 && app.searchName.slice(0, 7) != 'index: '">
		If this does not seem correct, please make sure you are using the same spelling as <a href="{{ app.searchName | imdbSearch }}" target="_blank">IMDb</a>.
	</p> -->
	<!-- <button>New Search</button> -->
</section>

