

@keyframes toggle {
	0% {
		opacity: 0;
	} 20% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}


a {
	background-image: url('/assets/bacon-home.jpg');
	background-position: 50% 10%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	box-shadow: 0 0 100px 30px #ffc800;
	box-sizing: border-box;
	height: 40vw;
	max-height: 500px;
	max-width: 500px;
	min-height: 250px;
	min-width: 250px;
	opacity: 1;
	width: 40vw;
}


a.toggle {
	animation: 2.5s toggle;
}

